<component name="ArtifactManager">
  <artifact type="war" name="Springmvc:war">
    <output-path>$PROJECT_DIR$/Springmvc/target</output-path>
    <root id="archive" name="Springmvcdemo.war">
      <element id="artifact" artifact-name="Springmvc:war exploded" />
    </root>
  </artifact>
</component>