<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/dbdemo</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping resource="com/hibernatebasicdemo/entities/CoursesEntity.hbm.xml"/>
      <mapping class="com.hibernatebasicdemo.entities.CoursesEntity"/>
      <mapping class="com.hibernatebasicdemo.entities.StuCourseEntity"/>
      <mapping resource="com/hibernatebasicdemo/entities/StuCourseEntity.hbm.xml"/>
      <mapping resource="com/hibernatebasicdemo/entities/StudentsEntity.hbm.xml"/>
      <mapping class="com.hibernatebasicdemo.entities.StudentsEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>