<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <bean name="service" class="com.springmvcdemo.service.implementation.Service" scope="singleton"></bean>

    <!-- 这个切面也要配置成bean-->
    <bean id="beforeLog" class="com.springmvcdemo.advise.BeforeLog"/>
    <bean id="afterLog" class="com.springmvcdemo.advise.AfterLog"></bean>
    <bean id="beforeAuthorization" class="com.springmvcdemo.advise.BeforeAuthorization"></bean>

    <aop:config>
        <aop:pointcut expression="execution(* com.springmvcdemo.service.implementation.*.*(..))" id="pointcut"/>
        <aop:advisor advice-ref="beforeLog" pointcut-ref="pointcut"/>
        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>
    </aop:config>
    <aop:config>
        <aop:pointcut expression="execution(* com.springmvcdemo.controller.*.*(..))" id="pointcutcontroller"/>
        <aop:advisor advice-ref="beforeAuthorization" pointcut-ref="pointcutcontroller"/>
        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcutcontroller"/>
    </aop:config>
</beans>