<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <bean name="userService" class="com.springicodemo.services.UserService" scope="singleton">
        <property name="name">
            <value>I'm userService from myself.</value>
        </property>
        <property name="helloService" ref="helloService"></property>
    </bean>
    <bean name="helloService" class="com.springicodemo.services.HelloService" scope="prototype">
        <property name="name">
            <value>I'm HelloService from UserService instance.</value>
        </property>
    </bean>
    <bean name="emp1" class="com.springicodemo.entities.Employee">
        <property name="name" value="taojian"></property>
        <property name="id" value="1"></property>
    </bean>
    <bean name="emp2" class="com.springicodemo.entities.Employee">
        <property name="name" value="tao"></property>
        <property name="id" value="2"></property>
    </bean>
    <bean name="department1" class="com.springicodemo.entities.Department">
        <property name="empList">
            <list>
                <ref bean="emp1"></ref>
                <ref bean="emp2"></ref>
                <ref bean="emp1"></ref>
                <ref bean="emp1"></ref>
                <ref bean="emp1"></ref>
                <ref bean="emp1"></ref>
                <ref bean="emp1"></ref>
                <ref bean="emp1"></ref>
                <ref bean="emp1"></ref>
            </list>
        </property>
    </bean>
    <bean name="department2" class="com.springicodemo.entities.Department">
        <property name="empsets">
            <set>
                <ref bean="emp1"></ref>
                <ref bean="emp2"></ref>
                <ref bean="emp1"></ref>
                <ref bean="emp1"></ref>
                <ref bean="emp1"></ref>
                <ref bean="emp1"></ref>
                <ref bean="emp1"></ref>
                <ref bean="emp1"></ref>
                <ref bean="emp1"></ref>
            </set>
        </property>
    </bean>
    <bean name="department3" class="com.springicodemo.entities.Department">
        <property name="empMaps">
            <map>
                <entry key="11" value-ref="emp1"></entry>
                <entry key="22" value-ref="emp1"></entry>
                <entry key="33" value-ref="emp2"></entry>
                <entry key="44" value-ref="emp2"></entry>
            </map>
        </property>
    </bean>
    <bean name="department4" class="com.springicodemo.entities.Department">
        <property name="pp">
            <props>
                <prop key="pp1">abcd</prop>
                <prop key="pp2">hello</prop>
            </props>
        </property>
    </bean>
</beans>